body {
  font-family: Arial, sans-serif;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
}
h1,h2,h3 {
  color: #e63946;
}
button {
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  opacity: 0.8;
}
table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 6px;
}
